Source: pk2cmd
Section: libraries
XBSC-Family: pic18
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: pk2cmd
Section: programmers
Architecture: all
XBSC-Group: PIC18
Description: PK2CMD



