Source: pk2cmd
Section: main
XBSC-Family: pic18,pic16
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: pk2cmd
Section: main
Architecture: all
XBSC-Group: Programmers
XBSC-SubGroup: PIC18
Description: PK2CMD



